name: diff-test
on:
  push:
    branches-ignore:
      - master

jobs:
  test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: setup brew path
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_DEVELOPER: "true"
          XARGS_OPT: ${{ (runner.os == 'Linux' && '-r') || (runner.os == 'macOS' && '') }}
        run: |
          git fetch origin master
          git diff origin/master --name-only | fgrep .rb | grep -v @ \
          | xargs -n 1 $XARGS_OPT brew install --formula --build-from-source
