name: test
on:
  push:
    branches:
      - master

jobs:
  test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      HOMEBREW_NO_INSTALL_CLEANUP: 1

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: setup brew path
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - name: test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_DEVELOPER: "true"
        run: |
          ls *.rb | grep -v @ | xargs -n 1 brew install --formula --build-from-source
